#quibble-image-overlay {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 10000;
}

#quibble-image-overlay img {
  max-width: none !important;
  transition: box-shadow 0.2s ease;
  user-select: none;
}

#quibble-image-overlay img.focused {
  box-shadow: 0 0 20px rgba(7, 121, 228, 0.6);
  cursor: move;
}

#quibble-image-overlay.hidden {
  display: none;
}

#quibble-image-overlay img.focused:hover {
  cursor: move;
}
